
.env
backend/.env

__pycache__/
*.py[cod]
*.class

venv/
backend/venv/
.venv/

*.db
test.db
backend/test.db

.DS_Store

.vscode/
.idea/

*.log

postgres_data/

.history/
.pytest_cache/
.mypy_cache/

*.png
*.jpg
*.jpeg
